@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.cursor {
    content: "";
    border-right: 1ch solid black;
    animation: blink 0.5s linear infinite;
}
