@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #16a34a;
    }
}

.cursor {
    content: "";
    border-right: 1ch solid #16a34a;
    animation: blink 0.5s linear infinite;
}
