<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="keywords" content="Craig, Sauers, Software, Programming, Coding, Fitness, Travel, YouTube">
    <meta name="description"
        content="Craig Sauers is currently working as software developer. He loves travel, fitness, technology, and learning.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--CSS Styles-->
    <link rel="stylesheet" href="../../output.css" />
    <script src="../../header.js" type="text/javascript" defer></script>

    <title>Craig Sauers</title>
</head>

<body>
    <header-component></header-component>
    <div>
        <h2>Register</h2>
        <div id="outer-div" hx-ext="response-targets">
            <div id="response-div">
                <form hx-post="https://localhost:5286/Account/Register" hx-trigger="submit"
                    hx-target-error="#server-errors">
                    <div>
                        <input name="userName" type="text" placeholder="Username" required>
                    </div>
                    <div>
                        <input name="firstName" type="text" placeholder="First Name" required>
                    </div>
                    <div>
                        <input name="lastName" type="text" placeholder="Last Name" required>
                    </div>
                    <div>
                        <input name="email" type="text" placeholder="Email" required>
                    </div>
                    <div>
                        <input name="passwordHash" type="password" placeholder="Password" required>
                    </div>
                    <div>
                        <input name="confirmPassword" type="password" placeholder="Confirm Password" required>
                    </div>
                    <div>
                        <button type="submit" required><i>Register</i></button>
                    </div>
                    <br>
                    <div id="server-errors"></div>
                </form>
            </div>
            <div>
                <a href="../login/login.html">Log-in Instead</a>
            </div>
        </div>
    </div>
    <script src="../../htmx/htmx.min.js"></script>
    <script src="../../htmx/response-targets.js"></script>
</body>
