<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="keywords" content="Craig, Sauers, Software, Programming, Coding, Fitness, Travel, YouTube">
    <meta name="description"
        content="Craig Sauers is currently working as software developer. He loves travel, fitness, technology, and learning.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--CSS Styles-->
    <link rel="stylesheet" href="./base.css" />

    <title>Craig Sauers</title>
</head>

<body>
    <div>
        <h2>Signup</h2>
        <div>
            <div>
                <input type="text" placeholder="First Name" required> 
            </div>
            <div>
                <input type="text" placeholder="Last Name" required>
            </div>
            <div class="inputBox">
                <input type="text" placeholder="Email" required>
            </div>
            <div class="inputBox">
                <input type="password" placeholder="Password" required>
            </div>
            <div>
                <a href="/client/index.html">Signup</a>
            </div>
            <div>
                <input type="submit" required> <i>Login</i>
            </div>
        </div>
    </div>
</body>
