<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="keywords" content="Craig, Sauers, Software, Programming, Coding, Fitness, Travel, YouTube">
    <meta name="description"
        content="Craig Sauers is currently working as software developer. He loves travel, fitness, technology, and learning.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--CSS Styles-->
    <link rel="stylesheet" href="../.././output.css" />
    <script src="../../header.js" type="text/javascript" defer></script>

    <title>Craig Sauers</title>
</head>

<body class="flex flex-col bg-black text-green-600 p-4">
    <header-component></header-component>
    <h2 class="text-center text-2xl font-bold p-4">Login</h2>
    <div hx-ext="response-targets"
        class="flex flex-col items-center justify-center p-5 border-2 rounded-lg border-green-600">
        <form hx-post="http://localhost:5286/Account/Login" hx-trigger="submit" hx-target-error='#server-errors'
            class="flex flex-col items-center justify-center w-full px-10">
            <div class="inputBox border-2 rounded-lg border-green-600 w-full">
                <div class="flex p-4">
                    <input name="userName" placeholder="Username" type="text" required
                        class="bg-black text-green-600 w-full placeholder-green-600">
                </div>
            </div>
            <br>
            <div class="inputBox border-2 rounded-lg border-green-600 w-full">
                <div class="flex p-4">
                    <input name="passwordHash" type="password" placeholder="Password" required
                        class="bg-black text-green-600 w-full placeholder-green-600">
                </div>
            </div>
            <br>
            <div class="flex justify-center items-center py-2">
                <button type="submit" required
                    class="flex justify-center text-center border-2 rounded-lg border-green-600 w-full px-12 py-4"><i>Login</i></button>
            </div>
            <br>
            <div class="text-red-600" id="server-errors"></div>
            <div>
                <p>Need an account?</p>
            </div>
            <br>
            <div>
                <a class="underline" href="../register/register.html">Register here</a>
            </div>
        </form>
    </div>
    <script src="../../htmx/htmx.min.js"></script>
    <script src="../../htmx/response-targets.js"></script>
</body>
